*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
   }

   body {
    background-color: #8f9cb3;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
    text-align: center;*/
}  

















nav{
    top: 0;
    background-color: #dce4f4;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
    background-color: #d74ea4;
}

.dropdown-menu {
    position: absolute;
    background-color: #dce4f4;
    display: none;
}

.dropdown-menu a {
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}